<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<div class="container-register">
  <h4 class="register-heading">Registration</h4>
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <div class="row register">
      <div class="col-md-5 register-box">
        <div class="form-group">
          <label>Team Lead Name and Surname</label>
          <input
            type="text"
            class="form-control"
            formControlName="teamLeadName"
            [ngClass]="{
              'is-invalid':
                submitted && registerFormControls.teamLeadName.errors
            }"
            required
            placeholder="Jerry Keller"
          />
          <div
            *ngIf="submitted && registerFormControls.teamLeadName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormControls.teamLeadName.errors.required">
              Team Lead Name is required
            </div>
            <div *ngIf="registerFormControls.teamLeadName.errors.maxlength">
              Team name must not exceed 100 characters
            </div>
            <div *ngIf="registerFormControls.teamLeadName.errors.pattern">
              Team Lead Name must consist of only alphabetical characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Team Lead E-mail</label>
          <input
            type="text"
            class="form-control"
            formControlName="teamLeadEmail"
            [ngClass]="{
              'is-invalid':
                submitted && registerFormControls.teamLeadEmail.errors
            }"
            required
            placeholder="jerry.keller@example.com"
          />
          <div
            *ngIf="submitted && registerFormControls.teamLeadEmail.errors"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormControls.teamLeadEmail.errors.required">
              Team Lead e-mail is required
            </div>
            <div *ngIf="registerFormControls.teamLeadEmail.errors.email">
              Team Lead e-mail must be valid
            </div>
            <div *ngIf="registerFormControls.teamLeadEmail.errors.maxlength">
              Team e-mail must not exceed 100 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Team Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="teamName"
            placeholder="DreamTeam"
            [ngClass]="{
              'is-invalid': submitted && registerFormControls.teamName.errors
            }"
            required
          />
          <div
            *ngIf="submitted && registerFormControls.teamName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormControls.teamName.errors.maxlength">
              Team name must not exceed 30 characters
            </div>
            <div *ngIf="registerFormControls.teamName.errors.required">
              Team name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Location</label>
          <select
            class="form-control"
            formControlName="city"
            [ngClass]="{
              'is-invalid': submitted && registerFormControls.city.errors
            }"
            required
            [attr.disabled]="cityParam"
          >
            <option value="" disabled selected>Choose location</option>
            <option *ngIf="cityParam != null">{{ cityParam }}</option>
            <option *ngFor="let city of cities">
              {{ city.name }}
            </option>
          </select>
          <div
            *ngIf="submitted && registerFormControls.city.errors"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormControls.city.errors.required">
              Location is required
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 register-box">
        <div class="form-group">
          <label>Organization</label>
          <input
            type="text"
            class="form-control"
            formControlName="organization"
            placeholder='„SOS gyvūnų“ prieglauda'
            value="{{ organizationParam }}"
            [ngClass]="{
              'is-invalid':
                submitted && registerFormControls.organization.errors
            }"
            required
            [attr.disabled]="organizationParam"
          />
          <div
            *ngIf="submitted && registerFormControls.organization.errors"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormControls.organization.errors.maxlength">
              Organization name must not exceed 100 characters
            </div>
            <div *ngIf="registerFormControls.organization.errors.required">
              Organization is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Category</label>
          <select
            class="form-control"
            formControlName="category"
            [ngClass]="{
              'is-invalid': submitted && registerFormControls.category.errors
            }"
            required
            [attr.disabled]="categoryParam"
          >
            <option disabled selected value="">Choose category</option>
            <option *ngIf="categoryParam != null">{{
              categoryParam.split("_").join(" ") | titlecase
              }}</option>
            <option *ngFor="let category of categories">
              {{ category }}
            </option>
          </select>
          <div
            *ngIf="submitted && registerFormControls.category.errors"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormControls.category.errors.required">
              Category is required
            </div>
          </div>
        </div>
        <div class="form-group idea">
          <label>Idea for a good job</label>
          <textarea
            type="text"
            class="form-control"
            formControlName="ideaForJob"
            value="{{ descriptionParam }}"
            placeholder="Take care of animals..."
            maxlength="240"
            [ngClass]="{
              'is-invalid': submitted && registerFormControls.ideaForJob.errors
            }"
            required
            [attr.disabled]="descriptionParam"
          ></textarea>
          <div
            *ngIf="submitted && registerFormControls.ideaForJob.errors"
            class="invalid-feedback"
          >
            <div *ngIf="registerFormControls.ideaForJob.errors.required">
              Idea for a job is required
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-register">Submit</button>
    <button
      type="button"
      class="btn btn-cancel"
      (click)="goToHome()"
      value="Cancel"
    >
      Cancel
    </button>
    <div class="successMessage">{{ errorMsg }}</div>
  </form>
</div>
