.container-register {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
  margin-top: 3%;

}

.register {
  border-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-width: 3px;
  border-color: rgba(252, 206, 36, 1);
}

.register-heading {
  font: 20px Century Gothic, monospace;
  margin-bottom: 3%;
}

.buttons {
 margin-top: 2%;
  margin-left: 55%;
}

.btn-cancel {
  background-color: whitesmoke;
  text-align: center;
  padding: 10px 24px;
  font-family:  Century Gothic, monospace;
  font-size: 18px;
}

.btn-register {
  background-color: rgba(252, 206, 36,36);
  text-align: center;
  padding: 10px 24px;
  font-family:  Century Gothic, monospace;
  font-size: 18px;
  margin-left: 3%;
}

.btn-cancel:active,
.btn-register:active {
  margin-top: 3px;
  margin-bottom: -3px;
}

#idea {
  height: 90px;
}
