<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<strong><h2 class="w3-center">Good works summer moments!</h2></strong>
<div class="w3-content w3-display-container carousel-item carousel-fade">
  <button class="w3-button w3-black w3-display-left control-next" (click)='plusDivs(-1)'>&#10094;</button>
  <img class="carouselComponent image-style" src="../../assets/good-works-summer-volunteers-0.jpg">
  <img class="carouselComponent image-style" src="../../assets/good-works-summer-volunteers-1.jpg">
  <iframe class="carouselComponent media-style-youtube-video" width="1280px" height="720px" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
  <button class="w3-button w3-black w3-display-right control-prev" (click)='plusDivs(1)'>&#10095;</button>
</div>
</body>
</html>