<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" (click)="goToAdminIdea()">Idea</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goToAdminProject()">Project</a>
  </li>
</ul>
<div class="container-register">
  <h4 class="register-heading">Register new idea</h4>
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <div class="row register">
      <div class="col-md-5 register-box">
        <div class="form-group">
          <select
            class="form-control"
            formControlName="city">
            <option value="" disabled>Location</option>
            <option *ngFor="let city of cities">
              {{ city.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="organization"
            placeholder="Organization"
            value=""/>
        </div>
      </div>
      <div class="col-md-5 register-box">
        <div class="form-group">
          <select
            class="form-control"
            formControlName="category">
            <option value="" disabled>Category</option>
            <option *ngFor="let category of categories">
              {{ category }}
            </option>
          </select>
        </div>
        <div class="form-group idea">
          <textarea
            type="text"
            class="form-control"
            formControlName="ideaForJob"
            placeholder="Idea for a good job"
            value=""
            maxlength="240"></textarea>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-register">Submit</button>
    <div class="validationMessage">{{SuccessMsg}}</div>
  </form>
</div>

