* {
  font-family: 'Montserrat', sans-serif;
}

.project-tab {
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.flip-box {
  display: inline-block;
  background-color: transparent;
  width: 220px;
  height: 190px;
  perspective: 1000px;
  margin: 10px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: rgba(70, 130, 180, 0.3);
  color: black;
}

.flip-box-back {
  background-color: rgba(252, 206, 36, 0.4);
  color: gray;
  transform: rotateX(180deg);
  text-align: left;
}

.table-content {
   text-align: left;
   margin-left: 15px;
   font-size: 1rem;
   color: darkslategray;
 }

.table-content:before {
  content: attr(data-heading);
  display: block;
  color: #999;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
}

.content {
  text-align: left;
  margin-left: 15px;
  font-size: 1.3rem;
  color: darkslategray;
}

.content:before {
  content: attr(data-heading);
  display: block;
  color: #999;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
}

@media only screen and (min-width: 969px) {
  .project-tab {
    max-width: 960px;
  }
}

