<body>
<div class="project-tab">
  <div class="flip-box" *ngFor="let team of teams">
    <div class="flip-box-inner" *ngIf="team.ideas[0].project.approved">
      <div class="flip-box-front">
        <div class="front-text">
          <div class="content" data-heading="Team Name">{{team.teamName}}</div>
          <div class="content" data-heading="Organization">{{team.ideas[0].organization}}</div>
        </div>
      </div>
      <div class="flip-box-back">
        <div class="back-text">
          <div class="table-content" data-heading="Lead Name">{{team.leadName}}</div>
          <div class="table-content" data-heading="City">{{team.ideas[0].city.name}}</div>
          <div class="table-content" data-heading="Activity">{{team.ideas[0].description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
