<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>
  <div class="carousel">
  <button
    class="w3-button w3-display-left"
    (click)="navigateFromCurrentSlide(-1)"
  >
    &#10094;
  </button>
  <img
    class="carouselComponent image-style"
    src="../../../assets/3photo.jpg"
  />
    <iframe
      class="carouselComponent media-style-youtube-video"
      width="1280px"
      height="720px"
      src="https://www.youtube.com/embed/jLJwwzkG3EM"
      frameborder="0"
      allowfullscreen
    ></iframe>
  <img
    class="carouselComponent image-style"
    src="../../../assets/2photo.jpg"
  />
    <img
      class="carouselComponent image-style"
      src="../../../assets/1photo.jpg"
    />
  <button
    class="w3-button w3-display-right"
    (click)="navigateFromCurrentSlide(1)"
  >
    &#10095;
  </button>
  </div>


