.carouselComponent {
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -2;
}

.w3-center {
  font-family: "Courier New", Courier, monospace;
  font-size: 36px;
}

button:focus {
  outline: none !important;
}

@media only screen and (max-width: 768px) {

  .carousel {
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    width: auto;
    max-width: 450px;
    transform: translate(0);
  }

  .w3-center {
    display: none;
  }

  .w3-button {
    font-size: 60px;
    color: rgba(252, 206, 36, 0.7);
  }

  .w3-button:hover {
    background-color: transparent !important;
    color: rgba(252, 252, 252, 0.7) !important;
  }
}

@media only screen and (min-width: 768px) {

  .carousel {
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: auto;
    max-width: 650px;
    transform: translate(0);
  }

  .w3-button {
    font-size: 100px;
    transition: .2s ease !important;
    opacity: 0;
    color: rgba(255, 255, 255, 0.9) !important;
  }

  .w3-button:hover {
    background-color: transparent !important;
    color: rgba(252, 206, 36, 0.7) !important;
  }

  .carousel:hover .w3-button {
    opacity: 1;
  }
}
