<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<app-admin></app-admin>
<body>
<div class="container-fluid">
  <table class="table table-hover">
    <thead class="thead-color col-md-4"
           style="text-align: left">
    <tr>
      <th>Organization</th>
      <th>Location</th>
      <th>Idea</th>
      <th width="250px" style="text-align: left">
        Category
      </th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let idea of ideas"
        style="text-align: left">
      <td>
        {{idea.organization}}
      </td>
      <td>
        {{idea.city.name}}
      </td>
      <td>
        {{idea.description}}
      </td>
      <td class="m_title">
        {{idea.category.toLocaleLowerCase().replace('_', ' ').replace('_', ' ').replace('_', ' ')}}</td>
      <td style="text-align: left">
        <button class="edit-button">
          Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
