<div class="container-fluid">
<ul class="nav" style="background-color: slategrey">
  <li class="nav-item">
    <a class="nav-link active" (click)="goToAdminNewIdea()" style="color: white">New Idea</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goToAdminProject()" style="color: white">Project</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goToAdminIdea()" style="color: white">Ideas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="logoutOfAdmin()" style="color: red">Log Out</a>
  </li>
</ul>
</div>
