<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <img src="../../assets/main_header_logo.png" class="logo">
      </li>
      <li class="nav-item ">
        <button class="nav-link btn" (click)="goToAdminNewIdea()" style="margin-left: 25px">New Idea</button>
      </li>
      <li class="nav-item">
        <a class="nav-link tabs" (click)="goToAdminProject()" style="margin-left: 15px">Project</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link tabs" (click)="goToAdminIdea()">Ideas</a>
      </li>
    </ul>
    <ul class="nav ml-auto">
      <li class="nav-item">
        <a class="nav-link tabs ml-auto" (click)="logoutOfAdmin()" style="font-size: 20px;">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
