<section class="project-tab">
    <div class="text">
      <p>Register your team by pressing on
        <strong class="link" (click)="goToRegistration()"> "REGISTER YOUR PROJECT HERE" </strong>
        or by assigning your team to one of already existing initiatives in
        <strong class="link" (click)="goToIdeas()"> "IDEAS FOR TEAM"</strong> section.
      </p>
    </div>
    <nav class="nav">
      <div class="nav-tabs ">
        <a class="nav-item" (click)="ngOnInit()"> All projects </a>
        <a class="nav-item" (click)="getGivingBackData()">
          Giving Back To Society
        </a>
        <a class="nav-item" (click)="getHelpingAnimalsData()">
          Helping Animals
        </a>
        <a class="nav-item" (click)="getSharingKnowledgeData()">
          Sharing Knowledge
        </a>
        <a class="nav-item" (click)="getBeautifulEnvironmentData()">
          Beautiful environment
        </a>
      </div>
    </nav>
    <div class="tab-content">
      <table class="table">
        <thead>
          <tr>
            <th class="table-heading team">Team</th>
            <th class="table-heading organization">Organization</th>
            <th class="table-heading plan">Plan of action</th>
            <th class="table-heading location">Location</th>
          </tr>
        </thead>
        <tbody *ngFor="let team of teams">
          <tr class="table-row" *ngIf="team.ideas[0].project.approved && !team.ideas[0].project.done">
            <td class="table-content" data-heading="Team">
              {{ team.teamName }}
            </td>
            <td class="table-content" data-heading="Organization">
              {{ team.ideas[0].organization }}
            </td>
            <td class="table-content" data-heading="Plan of action">
              {{ team.ideas[0].description }}
            </td>
            <td class="table-content" data-heading="Location">
              {{ team.ideas[0].city.name }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
