<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="jumbotron text-xs-center">
  <img class="success-image" src="../../../assets/success.jpg" height="156" width="156"/>
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">YOUR JOB REGISTRATION WAS SUCCESSFUL</p>
  <hr>
  <p class="lead">
    <a class="btn btn-primary btn-sm"  role="button"  href="#">Continue to homepage</a>
  </p>
</div>
