<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<section class="project-tab">
  <div class="container">
    <div class="text">
      <p>
        We believe that you can find a great initiative in this page for your
        team to work on. All the work done by you will benefit this society
        greatly. Lets Do Good This Summer TOGETHER!
      </p>
      <p>
        Please press on the <img src="../../assets/add-icon.png">
        next to the good job which interests
        you and fill in missing information. If you have any additional
        questions do not hesitate to check
        <a href="/faq">FAQ</a>
        section or contact
        <a href="mailto:info@dogoodthissummer.net">info@dogoodthissummer.net</a>
      </p>
    </div>
    <nav class="nav">
      <div class="nav-tabs ">
        <a class="nav-item" (click)="ngOnInit()"> All projects </a>
        <a class="nav-item" (click)="get_giving_back_data()">
          Giving Back To Society
        </a>
        <a class="nav-item" (click)="get_helping_animals_data()">
          Helping Animals
        </a>
        <a class="nav-item" (click)="get_sharing_knowledge_data()">
          Sharing Knowledge
        </a>
        <a class="nav-item" (click)="get_beautiful_environment_data()">
          Beautiful Environment
        </a>
      </div>
    </nav>
    <div class="tab-content">
      <div class="tab-pane fade show active">
        <table class="table">
          <thead>
          <tr>
            <th class="organization">Organization</th>
            <th class="plan">Plan of action</th>
            <th class="location">Location</th>
          </tr>
          </thead>
          <tbody *ngFor="let idea of ideas">
            <td>{{ idea.organization }}</td>
            <td>{{ idea.description }}</td>
            <td>{{ idea.city.name }}</td>
          <img src="../../assets/add-icon.png" (click)="onSelect(idea.organization, idea.description, idea.category)">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
