<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<section class="project-tab">
  <div class="text">
    <p>
      Please press on the <img src="../../assets/add-plus.svg" />
      next to the good job which interests you and fill in missing information.
      If you have any additional questions do not hesitate to check
      <strong class="link" (click)="goToFaq()">FAQ</strong>
      section or contact
      <strong class="link" href="mailto:info@dogoodthissummer.net"
        >info@dogoodthissummer.net</strong
      >
    </p>
  </div>
  <nav class="nav">
    <div class="nav-tabs">
      <a class="nav-item" (click)="ngOnInit()" [ngStyle]="{'background-color': value === 0 ? 'rgba(232, 186, 36, 0.4)' : ''}"> All ideas </a>
      <a class="nav-item" (click)="getGivingBackToSociety(); " [ngStyle]="{'background-color': value === 1 ? 'rgba(232, 186, 36, 0.4)' : ''}">
        Giving Back To Society
      </a>
      <a class="nav-item" (click)="getHelpingAnimalsData();" [ngStyle]="{'background-color': value === 2 ? 'rgba(232, 186, 36, 0.4)' : ''}">
        Helping Animals
      </a>
      <a class="nav-item" (click)="getSharingKnowledge();" [ngStyle]="{'background-color': value === 3 ? 'rgba(232, 186, 36, 0.4)' : ''}">
        Sharing Knowledge
      </a>
      <a class="nav-item" (click)="getBeautifulEnvironmentData();" [ngStyle]="{'background-color': value == 4 ? 'rgba(232, 186, 36, 0.4)' : ''}">
        Beautiful Environment
      </a>
    </div>
  </nav>
  <div class="tab-content">
    <table class="table">
      <thead>
        <tr>
          <th class="table-heading organization">Organization</th>
          <th class="table-heading plan">Plan of action</th>
          <th class="table-heading location">Location</th>
          <th class="table-heading add">Add</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row" *ngFor="let idea of ideas">
          <td class="table-content" data-heading="Organization">
            {{ idea.organization }}
          </td>
          <td class="table-content" data-heading="Plan of action">
            {{ idea.description }}
          </td>
          <td class="table-content" data-heading="Location">
            {{ idea.city.name }}
          </td>
          <td class="table-content img">
            <img
              class="plus-button"
              src="../../assets/add-plus.svg"
              (click)="
                onSelect(
                  idea.organization,
                  idea.description,
                  idea.category,
                  idea.city.name,
                  idea.id
                )
              "
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
