@import url(http://fonts.googleapis.com/css?family=Raleway);

h1 {
  font-family: "Courier New", Courier;
  font-size: 48px;
  margin: 0px !important;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(128, 128, 128, 0.6)), url('../../assets/main_header_image.jpg');
  height: 300px;
}

.top-text {
  position: relative;
  text-align: center;
  top: 50%;
  color: white;
  transform: translate(0%, -50%);
}

button {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: relative;
  left: 0%;
  transition: .5s ease;
  padding: 10px 10px !important;
}

button:hover {
  background-color: rgba(252, 206, 36, 0.4);
}

button:focus{
  outline:none !important;
}

.register-button {
  font-family: Century Gothic, monospace;
  font-size: 18px;
  color: white;
  margin: 0;
  display: inline;
  white-space: nowrap;
}

body {
  background-color: #d3df91;
}

@media only screen and (max-width: 800px) {


  h1{
    font-size: 28px;
    padding-bottom: 15px;
  }

  .top-image{
    height: 160px;
  }

  .logo{
    display: none;
  }

  .register-button{
    font-size: 14px;
  }

  .top-text {
    buttom: 20% !important;
  }
  .main-text{
    margin-top: 0px;
  }


  #menuToggle
  {
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 100%;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }


  #menuToggle span
  {
    display: block !important;
    width: 33px !important;
    height: 4px !important;
    margin-bottom: 5px !important;
    position: relative !important;

    background: #cdcdcd;
    border-radius: 0px;

    z-index: 6;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .nav-link
  {
    color: black !important;
    padding: 10px 0;
    font-size: 22px;
    display: inline-block;
  }

  #menuToggle input:checked ~ ul
  {
    transform: none;
  }


  .hamburger-menu
  {
    z-index: 1;
    position: absolute;
    width: auto !important;
    height: auto !important;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 120px;
    background: rgba(252, 206, 36, 1);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }


}


@media only screen and (min-width: 800px) {

  a {
    color: #fff !important;
  }

  ul{
    height: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    align-self: center;
    list-style: none;
  }

  .navbar-item {
    position: relative;
    align-self: center;
    cursor: pointer;
    float: left;
  }

  .navbar-item a {
    color: #FFF;
    text-decoration: none;
    font: 20px Century Gothic, monospace;
    margin: 0px 10px;
    padding: 10px 15px;
    position: relative;
    z-index: 0;
    top: 600%;
  }

  .topBotomBordersOut a:before, .topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgba(252, 206, 36, 1);
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
  }

  .topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
  }

  .topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
  }

  .active {
    background-color: rgb(228, 217, 120);
  }

  #menuToggle input
  {
    display:none;

  }

}

