<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div>

</div>
<div class='main-header-top-image'>
  <div class='main-header-top-text'>
    <img src='main_header_logo.png' height="56" width="56"/>
    <h1>DO GOOD THIS SUMMER</h1>
    <button class='register-button-text'>REGISTER YOUR JOB HERE</button>
  </div>
</div>
<div>
  <nav class="menum navbar navbar-light navbar-expand-md justify-content-center fixed-top">
    <div class="container">
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
      <ul class="topBotomBordersOut navbar-nav mx-auto text-center">
        <li class="nav-item"> <a class="nav-link" href="#">HOME</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">PROJECT</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">IDEAS</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">JOBS DONE</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">GALLERY</a></li>l
        <li class="nav-item"> <a class="nav-link" href="#">FAQ</a></li>
      </ul>
    </div>
    </div>
  </nav>
</div>
