<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<div class="image">
  <div class="text">
    <img
      class="logo"
      src="../../assets/main_header_logo.png"
      height="60"
      width="60"
      (click)="goHome()"
    />
    <div class="main">
      <h1 (click)="goHome()">DO GOOD THIS SUMMER</h1>
      <button (click)="goToRegistration()" class="register-button">
        REGISTER YOUR JOB HERE
      </button>
    </div>
    <nav role="navigation" class=" navbar-expand-sm">
      <div class="container" id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul class="topBotomBordersOut hamburger-menu">
          <li (click)="goHome()" class="navbar-item home">
            <a class="nav-link">HOME</a>
          </li>
          <li (click)="goToProject()" class="navbar-item">
            <a class="nav-link">PROJECT</a>
          </li>
          <li (click)="goToIdeas()" class="navbar-item">
            <a class="nav-link">IDEAS</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link">JOBS DONE</a>
          </li>
          <li class="navbar-item"><a class="nav-link">FAQ</a></li>

        </ul>
      </div>
    </nav>
  </div>
</div>
