<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div>

</div>
<div class='main-header-top-image'>
  <div class='main-header-top-text'>
    <h1>GOOD WORKS SUMMER</h1>
    <button routerLink='/registration' class='register-button-text'>REGISTER YOUR WORK</button>
  </div>
</div>
<div>
  <nav class="menum navbar navbar-light navbar-expand-md justify-content-center fixed-top">
    <div class="container">
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
      <ul class="topBotomBordersOut navbar-nav mx-auto text-center">
        <li class="nav-item"> <a class="nav-link" href="#">HOME</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">IDEAS</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">WORKS DONE</a> 
        <li class="nav-item"> <a class="nav-link" href="#">GALLERY</a> 
        <li class="nav-item"> <a class="nav-link" href="#">ABOUT</a> 
        <li class="nav-item"> <a class="nav-link" href="#">FAQ</a> 
        </li>
      </ul>
    </div>
    </div>
  </nav>
</div>
