<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<section class="project-tab">
<div id="panel-group" class="center">
  <div class="panel-group"  *ngFor="let item of items; let i = index">
    <div class="panel-heading" (click)="current = i">
      <h5 class="panel-title">
        <i class='glyphicon'
           [class.glyphicon-chevron-right]="i != current"
           [class.glyphicon-chevron-down]="i == current"></i>   {{item.title}}
      </h5>
    </div>
    <div id="collapse1" class="panel-collapse" [class.collapse]='current != i'>
      <div class="panel-body">{{item.description}}</div>
    </div>
  </div>
</div>
</section>
