<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<div id="panel-group" class="center">
  <div class="panel-group"  *ngFor="let item of items; let i = index">
    <div class="panel-heading" (click)="current = i">
      <h5 class="panel-title">
        <i class='glyphicon'
           [class.glyphicon-chevron-right]="i != current"
           [class.glyphicon-chevron-down]="i == current"></i>   {{item.title}}
      </h5>
    </div>
    <div id="collapse1" class="panel-collapse" [class.collapse]='current != i'>
      <div class="panel-body">{{item.description}}</div>
    </div>
  </div>
</div>
