* {
  font-family: 'Montserrat', sans-serif;
}

.project-tab {
  padding-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

.panel-group {
  margin-bottom: 20px;
}

.panel-heading {
  padding: 8px;
  background-color: rgba(252, 206, 36, 0.4);
  background-image: linear-gradient(rgba(248, 222, 126, 0.3), rgba(252, 206, 36, 0.3));
  border-radius: 10px;
  cursor: pointer;
}

.panel-body {
  padding: 15px;
  background-color: #F3F3F3;
}

i{
  float:right;
  opacity: 0.8;
}

@media only screen and (max-width: 968px) {
  .project-tab {
    max-width: 98%;
  }

  .panel-body {
    font-size: 12px;
    padding: 10px;
  }

  .panel-heading, h5 {
    padding: 4px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 969px) {
  .project-tab {
    width: auto;
    max-width: 950px;
  }
}
